/* style.css */
*{
	padding: 0;
	margin: 0;
}

#page-wrap{
	margin: 100px;
}

.row{
	clear: both;
	background-color: #5f6060;
	border: 3px solid #fff;
	box-sizing: border-box;
}


header{
	height: 250px;
}



#content-wrap{
	height: 500px;
	background-color: red;
}

#wrapper{
	background-color: yellow;
}


aside{
	float: left;
	width: 20%;
	height: 100%;
	border-right: 2px solid #fff;
	box-sizing: border-box;
}

main{
	float: right;
	width: 80%;
	height: 100%;
	border-left: 2px solid #fff;
	box-sizing: border-box;
}

#footer{
	height: 50px;
	width: 100%;
	background-color: grey;
	font-size: 20px;
}



